[Desktop Entry]
Type=Application
Name=HashChecker
Comment=Check file hashes
Exec=/usr/lib/hashchecker/hashchecker
Icon=hashchecker
Terminal=false
Categories=Utility;
