[Desktop Entry]
Type=Application
Name=HashChecker
Comment=Check file hashes
Exec=/usr/lib64/hashchecker/hashchecker
Icon=io.github.axawys.HashChecker
Terminal=false
Categories=Utility;
StartupWMClass=io.github.axawys.HashChecker
